@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {font-family: "Work Sans", sans-serif;}


.container {
    max-width: 1100px; /* 반응형을 위해 최대 너비로 변경 */
    margin: 0 auto;
}
.btn_view {
    display: inline-block;
    font-size: 15px; background: #c64932; color: #fff; padding: 9px 21px; font-weight: 300;
}
.btn_view:hover {
    background: #a73a27; transition: 0.3s;
}
.btn_view.bk {background: #000;}
.btn_view.bk:hover {background: #444444;}


header {
    display: flex; justify-content: space-between;
    position: absolute; z-index: 11; width: 100%;
    height: 80px;
}
header h1 {
    display: flex; justify-content: center; align-items: center;
    width: 350px;
}
header nav {
    width: 1000px;
}
    header nav .gnb {
        display: flex;
    }
    header nav .gnb li {
        position: relative;
        font-size: 18px;
    }
    header nav .gnb li a {
        display: block;
        padding: 28px 2vw;
    }
        header nav .gnb li .lnb {
            position: absolute;
            width: 100%; height: 0; overflow: hidden; background: rgba(0, 0, 0, 70%); text-align: center; backdrop-filter: blur(5px);
        }
        header nav .gnb:hover li:hover {
            background: #c64932; transition: 0.3s;
        }
        header nav .gnb:hover li:hover a {
            color: #fff;
        }
        header nav .gnb li .lnb li a {
            color: #fff; padding: 0px 0; line-height: 70px;
        }
        header nav .gnb:hover li .lnb {
            height: 280px; transition: 0.3s;
        }
header .more {
    position: relative; z-index: 20;
    display: flex; justify-content: center; align-items: center;
    width: 150px;
}

header .more::before {
    position: absolute;
    content: ''; width: 4px; height: 18px; background: #000;
}
header .more::after {
    position: absolute;
    content: ''; width: 4px; height: 18px; background: #000; transform: rotate(90deg); transition: 0.3s;
}
/* 기존 작업을 최대한 건드리지 않기 위해 사용. before는 내용의 앞에, after는 내용의 뒤에 들어감 */
header .more.on::before {
    transform: rotate(45deg); transition: 0.3s; background: #fff;
}
header .more.on::after {
    transform: rotate(135deg); transition: 0.3s; background: #fff;
}

.brand {
    position: absolute; left: 0; top: 0;
    display: none;
    width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.8);
}
.brand p {
    display: flex; justify-content: center; align-items: center;
    height: 100%; font-size: 100px; color: #fff;
}

.hero {
    position: relative;
}
.hero .textbox {
    position: absolute; z-index: 2; left: 50%; top: 50%;
    display: none;
    width: 600px; padding: 60px 70px; box-sizing: border-box; margin-left: 140px; margin-top: -195px;
    background: rgba(27, 3, 0, 70%);
}
.hero .textbox .title {
    font-size: 55px; color: #fff; letter-spacing: -2px;
}
.hero .textbox p {
    font-size: 18px; color: #fff;
    line-height: 2; /* ← 단위가 없을 때는 n배로 셈 */
    margin: 24px 0 36px;
}


.section1 {
    padding: 113px 0;
}
    .section1 .container {
        display: flex; justify-content: space-between; align-items: center; gap: 30px;
    }
    .section1 .container strong {
        display: block;
        font-size: 40px; margin-bottom: 50px;
    }
    .section1 .container p {
        font-size: 18px; line-height: 2; margin-bottom: 37px;
    }
    .section1 .container figure img {
        width: 100%;
    }

.section2 {
    display: flex;
}
    .section2 .left {
        display: flex; justify-content: end;
        width: 50%; background: url(../images/sec2_img1.png);
        background-size: cover; /* 배경 이미지가 항상 꽉 차게 함 */
        padding: 113px 0;
    }
    .section2 .left ul {
        display: flex; flex-direction: column; gap: 96px;
    }
    .section2 .left ul li {
        position: relative;
    }
    .section2 .left ul li::before {
        content: ""; /* 반드시 기재 (내용이 없어도) */
        position: absolute; top: 18px;
        width: 17px; height: 1px; background: #fff;
    }
    .section2 .left .textbox {
        width: 560px; color: #fff;
    }
    .section2 .left .textbox strong {
        font-size: 24px; padding-left: 34px;
    }
    .section2 .left .textbox p {
        font-size: 14px; margin-top: 19px; padding-left: 34px;
    }

    .section2 .right {
        width: 50%; background: url(../images/sec2_img2.png); background-size: cover;
    }
    .section2 .right .textbox {
        width: 560px;
    }

.section3 {
    padding: 113px 0;
}
    .section3 h2 {
        font-size: 40px; margin-bottom: 37px; text-align: center; font-weight: 500;
    }
    .section3 ul {
        display: flex; justify-content: space-between;
    }
    .section3 ul li a {
        display: flex; flex-direction: column; align-items: center;
    }
    .section3 ul li a .ex {
        font-size: 16px; margin-top: 20px;
    }
    .section3 ul li a p {
        font-size: 18px; margin-top: 8px;
    }

footer {
    display: flex; justify-content: center; align-items: center;
    background: #000; padding: 90px 0;
}

@media screen and (max-width: 1100px) {
    .section3 .container .content {
        flex-direction: column;
    }
    .section3 .container .content li {
        width: 100%;
    }
    .section3 .container .content li img {
        width: 100%;
    }
    .section3 .container .content li a {
        margin-bottom: 50px;
    }
    .section3 .container .content li a figure {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    header {
        flex-wrap: wrap;/* 공간이 부족하면 줄바꿈 */
    } 
    header h1 {
        width: 100%;
    }
    header .gnb {
        justify-content: center;
        background: rgba(198, 73, 50, 0.8);
    }
    header .gnb a {
        color: #fff;
    }
    header .more {
        position: absolute; right: 30px; top: 10px;
        width: 50px; height: 30px;
    }

    .hero {
        height: 100vh;
    }
    .hero .swiper {
        height: 100%;
    }

    .section1 .container {
        flex-direction: column;
    }
    .section1 .textbox {
        padding: 0 20px;
    }

    .section2 .left {
        width: 100%;
    }
    .section2 .right {
        display: none;
    }
    .section2 .textbox {
        padding: 0 20px;
    }

    footer h1 {
        text-align: center;
    }
    footer img {
        width: 80%;
    }
}
/* [반응형] 화면 조건(max-width)일 때 대상(header 등)은 ~ */