@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {font-family: "Work Sans", sans-serif;}


.container {
    width: 1100px; margin: 0 auto;
}
.btn_view {
    display: inline-block;
    font-size: 15px; background: #c64932; color: #fff; padding: 9px 21px; font-weight: 300;
}
.btn_view:hover {
    background: #a73a27; transition: 0.3s;
}
.btn_view.bk {background: #000;}
.btn_view.bk:hover {background: #444444;}


header {
    display: flex; justify-content: space-between;
    position: absolute; z-index: 11; width: 100%;
    height: 80px;
}
header h1 {
    display: flex; justify-content: center; align-items: center;
    width: 350px;
}
header nav {
    width: 1000px;
}
    header nav .gnb {
        display: flex;
    }
    header nav .gnb li {
        position: relative;
        font-size: 18px;
    }
    header nav .gnb li a {
        display: block;
        padding: 28px 40px;
    }
        header nav .gnb li .lnb {
            position: absolute;
            width: 100%; height: 0; overflow: hidden; background: rgba(0, 0, 0, 70%); text-align: center; backdrop-filter: blur(5px);
        }
        header nav .gnb:hover li:hover {
            background: #c64932;
        }
        header nav .gnb:hover li:hover a {
            color: #fff;
        }
        header nav .gnb li .lnb li a {
            color: #fff; padding: 0px 0; line-height: 70px;
        }
        header nav .gnb:hover li .lnb {
            height: 280px; transition: 0.3s;
        }
header .more {
    display: flex; justify-content: center; align-items: center;
    width: 150px;
}
header .more::before {
    position: absolute;
    content: ''; width: 4px; height: 18px; background: #000;
}
header .more::after {
    position: absolute;
    content: ''; width: 4px; height: 18px; background: #000; transform: rotate(90deg); transition: 0.3s;
}
/* 기존 작업을 최대한 건드리지 않기 위해 사용. before는 내용의 앞에, after는 내용의 뒤에 들어감 */
header .more:hover::before {transform: rotate(45deg);}
header .more:hover::after {transform: rotate(135deg);}


.hero {
    position: relative;
}
.hero .textbox {
    position: absolute; z-index: 2; left: 50%; top: 50%;
    width: 600px; padding: 60px 70px; box-sizing: border-box; margin-left: 140px; margin-top: -195px;
    background: rgba(27, 3, 0, 70%);
}
.hero .textbox .title {
    font-size: 55px; color: #fff; letter-spacing: -2px;
}
.hero .textbox p {
    font-size: 18px; color: #fff;
    line-height: 2; /* ← 단위가 없을 때는 n배로 셈 */
    margin: 24px 0 36px;
}


.section_box {}

.section1 {
    padding: 113px 0;
}
    .section1 .container {
        display: flex; justify-content: space-between; align-items: center;
    }
    .section1 .container strong {
        display: block;
        font-size: 40px; margin-bottom: 50px;
    }
    .section1 .container p {
        font-size: 18px; line-height: 2; margin-bottom: 37px;
    }

.section2 {
    display: flex;
}
    .section2 .left {
        width: 50%; background: url(../images/sec2_img1.png);
    }
    .section2 .right {
        width: 50%; background: url(../images/sec2_img1.png);
    }

.section3 {}


footer {}